*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration:none;
}

body{
	background-color:#232323;
    font-family: 'Montserrat', sans-serif;
    color: white;
	width: 100%;
    overflow-x: hidden;
}

body p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.sections{
    padding: 0 8%;
}

.spans{
    color:#357CBE;
    cursor: pointer;
    transition: 0.5s;
}

.spans:hover{
    color:#0080f8;
    text-shadow: 0 0 2.5px #357CBE;
}


#header{
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #232323;
    position: fixed;
    transition:0.7s;
    z-index: 50;
    width: 100%;
    justify-content: space-between;
}

#title{
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 800;
}

#title a{
    color: white;
}

#navbar{
    list-style: none;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    transition: 0.5s;
}

#navbar li{
    padding-left: 4em;
}

#navbar a{
    color: white;
}

#navbar a:hover{
    color:#357CBE;
}

#mobile-menu-fake{
    z-index:99;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0%;  
    margin-top: 32px;
    pointer-events: none;
    opacity:0;
    transition: 0.8s;
}

#mobile-menu{
    list-style: none;
    display: none;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    transition: 0.5s;
}

.dots{
    width:15px;
    height: 15px;
    background-color:white;
    margin: 6px;
    border-radius: 50%;
}

#hero{
    height: 100vh;
}

#hero h1{
    font-size: 90px;
    font-weight: bold;
    padding-top: 40vh;
}

#hero h2{
    font-size: 48px;
    font-weight: bold;
    padding-left: 0.3%;
}

#digitar{
    position:relative;
}

#digitar::after{
    position:absolute;
    content: "";
    right: -5px;
    width:1px;
    height: 100%;
    border-right: 2px solid #357CBE;
    animation: blink 0.8s infinite ease-in-out;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#about{
    height: 100vh;
    display: grid;
    grid-gap: 0em 4em;
	grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows:minmax(200px, 100vh);
    padding-top: 17vh;
    padding-bottom: 10vh;
}

#about h1{
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 25px;
}

#about p{
    font-size: 24px;
    padding-right: 1em;
}

#minimalism{
    cursor: default;
}

#about h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

#erase1, #erase2{
    transition: 0.6s;
}

#about-showcase{
    display:grid;
    padding: 2em 0;
	grid-gap: 2em;
	grid-template-columns:repeat(auto-fit, minmax(40px, 70px));
    grid-auto-rows:minmax(40px, 70px);
    transition: 0.8s;
}

.about-boxes img{
	max-height: 100%;
    max-width: 100%;
}

#about-2{
    position: relative;
}

#about-2 img{
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px black) brightness(110%);
}


#img1{
    max-width: 65%;
    position: absolute;
    z-index: 10;
}

#img2{
    max-width: 65%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 9;
}

#img3{
    max-width: 65%;
    position: absolute;
    right:0;
    bottom:0;
    z-index: 8;
}

#modal-bg{
    position:fixed;
    top:0;
    left:0;
	height: 100vh;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.6);
	display:none;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

#modal{
	width:50%;
    height:80%;
    margin-top:13vh;
	background-color: #232323;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

#modal i{
    top:7px;
    right:10px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

#game{
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#block{
    width:70px;
    background-color: black;
    height:100%;
    right:-30px;
    position: absolute;
    display: none;
}

#modal2{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 350px;
    width:80%;
    background-color:#1d68af;
    position: absolute;
    border-radius: 10px;
    padding:15px;
}

#modal2 h2{
    font-size: 30px;
}

#modal2 p{
    font-size: 19px;
    text-align: center;
}

#modal2 button{
    width: 150px;
    background-color: #232323;
    border-radius: 8px;
    color:white;
    border:none;
    cursor:pointer;
    line-height: 150%;
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.1s;
}

#modal2 button:hover{
    background-color: black;
    box-shadow: 0 0 5px #232323;
}

#hole{
    width:70px;
    background-color: #232323;
    height:200px;
    right:-30px;
    position: absolute;
}

@keyframes block{
    0%{
        right:-70px;
    }
    100%{
        right:100%;
    }
}

#character{
    width: 40px;
    height: 40px;
    position: absolute;
    top:30px;
    right:90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#character img{
    max-width:140%;
    max-height:140%;
    vertical-align: middle;
}

#line{
    width: 100%;
    height: 1px;
    top:610px;
    position:absolute;
}

#work{
    height: 100vh;
    display: grid;
    grid-gap: 0em 4em;
	grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows:minmax(200px, 100vh);
    padding-top: 17vh;
}

#work h1{
    font-size: 90px;
    font-weight: 600;
}

#work h2{
    font-size: 40px;
    font-weight: 600;
    padding: 3vh 0 2vh 0;
}

#work p{
    font-size: 24px;
    line-height: 140%;
    padding-right: 1em;
}

#work p a{
    color: #357CBE;
    transition:0.5s;
}

#work p a:hover{
    color:#0080f8;
    text-shadow: 0 0 2.5px #357CBE;
}

#logos{
    margin-top: 7vh;
    width: 90%;
    filter:contrast(75%) brightness(110%);
    background-image: url(images/logo.png);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    justify-content: space-around;
}

#logos img{
    width:100%;
    opacity: 0;
    transition:0.6s;
}

#mobile-logo{
    display: none;
}

#work-2 img{
    height: 95%;
    margin-left: 27.5%;
    filter: drop-shadow(0px 0px 15px black);
}

#contact{
    display: grid;
    grid-gap: 0em 4em;
	grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows:minmax(200px, 83vh);
    padding-top: 3em;
    height: 100vh;
    padding-top: 17vh;
}

#contact h1{
    font-size: 90px;
    font-weight: 600;
    padding-bottom: 30px;
}

#form{
    width:80%;
    padding: 35px;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 30px black;
}

#form h2{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 15px;
}

.input-boxes{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input-boxes input, .input-boxes textarea{
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #232323;
    outline:none;
    resize:none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.input-boxes span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    transition:0.5s;
    pointer-events: none;
}

.input-boxes input:focus ~ span,
.input-boxes input:valid ~ span,
.input-boxes textarea:focus ~ span,
.input-boxes textarea:valid ~ span{
    color: #357CBE;
    font-size: 12px;
    transform: translateY(-20px);
}

.input-boxes input[type="submit"]{
    width: 180px;
    background-color: #357CBE;
    color:white;
    border:none;
    cursor:pointer;
    padding:12px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

.input-boxes input[type="submit"]:hover{
    background-color: #0d5497;
    box-shadow: 0 0 5px #357CBE;
}

#contact-2{
    display: flex;
}

#container-c2{
    margin: auto 0;
}

.social-lines{
    display: flex;
    font-size: 22px;
    line-height: 160%;
    align-items: center;
    font-weight: 500;
}

.icons{
    margin: 10px 20px 10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:#232323;
    background-color: white;
    font-size: 22px;
    transition: 0.1s;
}

#line3 p a{
    color: #357CBE;
    transition:0.5s;
}

#line3 p a:hover{
    color:#0080f8;
    text-shadow: 0 0 2.5px #357CBE;
}

@media screen and (max-width: 600px){
    #header{
        width:100%;
    }
    #navbar{
        position:fixed;
		background-color:#232323;
		height:100vh;
		width:100%;
		flex-direction:column;
        justify-content: space-around;
		clip-path:circle(2px at 95% 5%);
		-webkit-clip-path:circle(2px at 95% 5%);
		transition:all 0.7s ease-out;
        pointer-events:none;
        margin-left: -8%;
    }
    #navbar.open{
		clip-path:circle(1000px at 95% 5%);
        -webkit-clip-path:circle(1000px at 95% 5%);
        background-color: black;
        pointer-events:all;	
    }
    #navbar li{
        padding-left: 0;
    }
    #mobile-menu{
        display: flex;
        cursor: pointer;
    }
    #hero h1{
        font-size: 55px;
        padding-bottom: 15px;
        line-height: 110%;
        padding-top: 40vh
    }
    #hero h2{
        font-size: 30px;
    }
    #about{
        height: 250vh;
        padding-bottom: 0px;
    }
    #about h1{
        font-size: 55px;
        line-height: 150%;
    }
    #about h2{
        font-size: 34px;
        line-height: 130%;
        padding-bottom: 15px;
    }
    #about p{
        font-size: 17px;
        padding-right: 10px;
    }
    #about-showcase{
        padding: 10px;
        justify-content: space-around;
    }
    #img1{
        max-width: 80%;
    }
    #img2{
        max-width: 80%;
    }
    #img3{
        max-width: 80%;
    }
    #work{
        height: 200vh;
    }
    #work h1{
        font-size: 55px;
        line-height: 150%;
    }
    #work h2{
        font-size: 34px;
        line-height: 130%;
        padding-top: 0px;
    }
    #work p{
        font-size: 17px;
        padding-right: 10px;
    }
    #logos{
        width: 100%;
    }
    #mobile-logo{
        display:block;
        text-align: center;
        margin-top: 15px;
    }
    #work-2{
        justify-content: space-around;
    }
    #work-2 img{
        margin: auto;
        height: 100%;
        text-align: center;
        display: block;
    }
    #contact{
        height: 155vh;
    }
    #contact h1{
        font-size: 55px;
        line-height: 150%;
    }
    #contact h2{
        font-size: 34px;
        line-height: 130%;
        padding-bottom: 15px;
    }
    #contact p{
        font-size: 24px;
        padding-right: 10px;
    }
    #form{
        width: 100%;
    }
    #container-c2{
        padding-top: 25vh;
        padding-bottom: 10vh;
    }
    #minimalism{
        pointer-events: none;
    }
    #interaction{
        pointer-events:none
    }
}